/* styles.css */

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #001429;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdd873;
}

.logo img {
  height: 40px;
  border-radius: 5px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #001429;
  font-weight: bold;
  padding: 10px;
  border: 2px solid transparent;
}

nav ul li a:hover {
  border-color: #001429; /* Couleur du contour lors du survol */
}

nav ul li:first-child {
  margin-left: 0;
}
nav ul li img {
  height: 20px;
  width: 20px;
}


.user-links {
  display: flex;
  align-items: center;
}

.user-links a {
  color: #fdd873;
  text-decoration: none;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-links a span {
  font-size: 15px;
  margin-top: 5px;
  color: #001429;
}

.user-links a .user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-links a .user-link img {
  height: 30px;
  margin-bottom: 5px;
}

/* Hero section styles */
.hero-image {
  background-image: url('logo/hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;

}

.hero-text {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

/* Heading styles */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.site-name {
  margin-right: auto;
  padding-left: 10px;

}

.site-name h2 {
  color: #001429;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}
.site-name h2 a {
  text-decoration: none;
  color: #001429; /* Couleur du texte du lien DealStore */
}

.user-links {
  margin-left: auto;
}

.user-links a {
  color: #001429;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-links a span {
  font-size: 15px;
  margin-top: 5px;
}

.user-links a:first-child {
  margin-right: 20px;
}

nav ul li:nth-child(2),
nav ul li:nth-child(3) {
  margin-left: auto;
}
