* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #001429;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdd873;
  color: #fff;
}

.nav-category {
  display: flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 20px;
}

.nav-category a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #001429;
}

.nav-category img {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

.logo-site {
  margin-right: auto;
}

.navigation {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.navigation a {
  text-decoration: none;
  color: #001429;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.navigation a img {
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}

.navigation a span {
  font-size: 15px;
  color: #001429;
}

.nav-user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-user a {
  color: #fdd873;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-user a span {
  font-size: 15px;
  margin-top: 5px;
  color: #001429;
}

.nav-user a .user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-user a .user-link img {
  height: 40px;
  margin-bottom: 10px;
}

.hero-image {
  background-image: url('logo/hero.jpeg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.hero-text {
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
