/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #001429;
  color: #fff;
}

/* Menu déroulant */
.nav-category {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 300px;
  transform: translate(-10%, +10%);
  background-color: #001429;
  display: none;
  z-index: 9999;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu .menu-item {
  position: relative;
}

.dropdown-menu .menu-item:hover .sub-menu {
  display: block;
}

.dropdown-menu ul li {
  padding: 5px 0;
  border-bottom: 1px solid white;

}

.dropdown-menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
  padding: 5px 30px;
}

.dropdown-menu ul li a:hover {
  background-color: white;
  color: #001429;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #001429;
  z-index: 999;
}

.sub-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sub-menu li {
  border-bottom: none;
}

.sub-menu li a {
  padding: 20px 20px;
  color: white;
  font-weight: bold;
}

.sub-menu li a:hover {
  background-color: #fdd873;
  color: #001429;
}

.dropdown-menu .sub-menu {
  width: 300px; /* Remplacez la valeur par la largeur souhaitée */
}

.dropdown-menu .buy-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  background-color: #001429;
  z-index: 999;
}

/* Autres styles */

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #001429;
}

.nav-category {
  margin-right: auto;
  margin-left: 20px;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav-category img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.nav-category span {
  font-weight: bold;
}

.nav-category a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #001429;
}

/* Logo site */
.logo-site {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-site a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-site img {
  height: 50px;
  width: auto;
  transition: transform 0.2s ease-in-out;
}

.logo-site img:hover {
  transform: scale(1.1);
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.navigation a {
  text-decoration: none;
  color: #001429;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.navigation a:hover {
  transform: scale(1.1);
}

.navigation a img {
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.navigation a span {
  font-size: 15px;
  color: #001429;
  white-space: nowrap;
}

/* Navigation utilisateur */
.nav-user {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-user a {
  color: #fdd873;
  text-decoration: none;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

.nav-user a:hover {
  transform: scale(1.1);
}

.nav-user a span {
  font-size: 15px;
  margin-top: 5px;
  color: #001429;
}

.nav-user a .user-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-user a .user-link img {
  height: 40px;
  margin-bottom: 10px;
}

/* Hero image */
.hero-banner {
  width: 100%;
  height: 200px;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.banner-image {
  flex: 0 0 100%;
  height: 100%;
  display: none;
}

.banner-image.active {
  display: block;
}

.banner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.banner-buttons button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  color: #001429;
  font-size: 24px;
  padding: 5px 10px;
  cursor: pointer;
}

.banner-buttons button:focus {
  outline: none;
}

/* Scrolling text */
.scrolling-text {
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  border-top: 2px solid #ccc;
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
  color: white;
}

.message.show {
  opacity: 1;
}

.message.flash-sale {
  color: red;
}

.message.promo-code {
  color: blue;
}



/* Styles pour le footer */
footer {
  background-color: #f4f4f4;
  padding: 20px 0;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 0;
}

.footer-section {
  flex: 1;
  margin-right: 20px;
}

.footer-section h4 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section p {
  color: #777;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #777;
  text-decoration: none;
  font-size: 14px;
}

.footer-bottom {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  font-size: 12px;
}

.footer-bottom p {
  color: #777;
  font-size: 12px;
  margin: 0;
}

.content-section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}

.content-section h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.content-section p {
  color: #777;
  font-size: 14px;
}

/* ... autres styles ... */

.container.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  color: #001429;
}

.login-section {
  width: 500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-left: 150px;
}

.login-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

.login-section form {
  display: flex;
  flex-direction: column;
}

.login-section label {
  margin-bottom: 5px;
}

.login-section input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-section button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login-section button:hover {
  background-color: #555;
}

.login-section p {
  margin-top: 10px;
  text-align: center;
}

.login-section a {
  color: #333;
  text-decoration: underline;
}

.create-account-section {
  width: 500px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-right: 150px;
}

.create-account-section h2 {
  margin-bottom: 20px;
  text-align: center;
}

.create-account-section p {
  text-align: center;
}

.create-account-section ul {
  margin-left: 30px;
}

.create-account-section button {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.create-account-section button:hover {
  background-color: #555;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-section {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 5px;
}

.register-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-section label {
  display: block;
  margin-bottom: 10px;
}

.register-section input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.register-section button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.error-message {
  color: red;
  text-align: center;
}
/* Styles pour le menu */
.menu {
  width: 200px;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex; /* Utiliser flexbox */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement (si nécessaire) */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 5px;
}

.menu a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu a:hover {
  color: #ff0000;
}


/* Styles pour le contenu */
.content {
  padding: 20px;
  text-align: center;
}

.content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.content p {
  margin-bottom: 5px;
}

.content ul {
  list-style-type: square;
  margin-left: 20px;
}

.content li {
  margin-bottom: 5px;
}
.cart{
  height: 100vh;
}

/* Alignement des commandes à gauche et détails du total à droite */
.cart-item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item-details {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-summary {
  text-align: right;
  margin-top: 20px;
  height: 400px;
}

.cart-summary-details {
  padding: 10px;
}

.checkout-button {
  text-align: right;
  margin-top: 10px;
}

.checkout-button button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-button button:hover {
  background-color: #286090;
}



.category-buttons {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .category-buttons button{
      width: 200px;
      height: 30px;
      font-size: 16px;
    }

.item {
    display: inline-block;
    width: 33.33%;
    text-align: center;
    margin-bottom: 20px;
}
.item-details{
  margin-top: 30px;
}

.item-name {
    font-weight: bold;
}

.item-photo {
    width: 300px; /* Modifier la taille selon vos préférences */
  height: 200px; /* Modifier la taille selon vos préférences */
  margin-bottom: 10px;
  border-radius: 5px;
  object-fit: cover;
}

.item-price {
  margin-bottom: 10px;
    font-weight: bold;
}

.buy-button {
    background-color: #06B206;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
}
.product-details {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.product-details img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

.product-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.product-details p {
  font-size: 16px;
  margin-bottom: 5px;
}
.vertical-form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.vertical-form label {
  margin-bottom: 5px;
}

.vertical-form input[type="text"],
.vertical-form input[type="email"] {
  padding: 5px;
}
.buy-button {
  background-color: #4CAF50; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  padding: 10px 20px; /* Espacement intérieur */
  border: none; /* Supprimer la bordure */
  border-radius: 4px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  cursor: pointer; /* Curseur pointeur */
}

.buy-button:hover {
  background-color: #45a049; /* Couleur de fond au survol */
}
/* styles.css */

.sell-form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top :  20px;
  margin-bottom : 20px;
}

.sell-form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
  color : black;
}

.sell-form-container form {
  display: grid;
  gap: 10px;
  color : black;
}

.sell-form-container label {
  font-weight: bold;
}

.sell-form-container input[type="text"],
.sell-form-container textarea,
.sell-form-container select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sell-form-container input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sell-form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.sell-form-container button[type="submit"]:hover {
  background-color: #45a049;
}

.user-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.user-item span {
  flex-grow: 1;
}

.delete-item-btn {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("logo/trash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  cursor: pointer;
}
.total-price {
  color: black;
  cursor: default;
}

.vertical-form {
  max-width: 400px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  display: inline-block;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.small-photo{
  width: 150px; /* Remplacez la valeur par la largeur souhaitée */
  height: auto; /* Permet de conserver le ratio de l'image */
}
.checkout-form {
  background-color: #f7f7f7;
  padding: 20px;
  margin-bottom: 20px;
  text-align: left;
  border-radius: 5px;
}

.checkout-form h3 {
  margin-top: 0;
  color: #000;
}

.checkout-form label {
  display: block;
  margin-bottom: 10px;
  color: #000;
}

.checkout-form input[type="text"],
.checkout-form select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  color: #000;
}

.checkout-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.checkout-form button[type="submit"]:hover {
  background-color: #45a049;
}
.containerA {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.order-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.order-id {
  flex-grow: 1;
}

.order-date {
  flex-shrink: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td {
  background-color: white;
  padding: 8px;
  color: black;
  border: 1px solid black;
}

table td:first-child {
  width: 50%;
}
.order-table {
  margin-bottom: 30px; /* Ajustez la valeur selon votre préférence */
}
.download-button {
      display: inline-block;
      padding: 8px 16px;
      background-color: #007bff;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      width: 60px; /* Ajustez la largeur du bouton selon vos besoins */
      height: 32px;

    }
    .download-button img {
  width: 25px; /* Ajustez la taille de l'icône de téléchargement selon vos besoins */
  height: 25px; /* Ajustez la taille de l'icône de téléchargement selon vos besoins */
}

    .download-button:hover {
      background-color: #0069d9;
    }

.thanks{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
/* Styles spécifiques pour la table sur cette page */
table.seller-table {
    width: 100%;
    border-collapse: collapse;
}

table.seller-table th,
table.seller-table td {
    padding: 10px;
    text-align: left;
    color: black;
}

table.seller-table th {
    background-color: #f2f2f2;
}

/* Réduction de la taille de la photo */
table.seller-table td img {
    max-width: 100px;
    height: auto;
}
.seller{
  max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    height: 100vh;

}

/* CSS pour la photo de profil */
.profile-photo {
    width: 150px; /* Modifier la largeur selon vos besoins */
    height: 150px; /* Modifier la hauteur selon vos besoins */
    border-radius: 50%; /* Pour créer une forme circulaire */
    object-fit: cover; /* Pour s'assurer que l'image remplit complètement le conteneur */
    margin-bottom: 10px; /* Espacement en bas */
}

.seller-options {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.seller-options a {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.seller-options a:hover {
  background-color: #45a049;
}
.profile-page{
  height: 100vh;
}


